<h1>howdy</h1>

<form action="/random/results">
  
    <label for="num1">Minimum</label>
    <input id="num1" type="text" placeholder="E.g 1.5" name="user_min">
  
  <div>
  <label for="num2">Maximum</label>
    <input id="num2" type="text" placeholder="E.g 4.5" name="user_max">
  </div>

<a href="/random_results">
<button>Pick random number</button>
</form>
