<h1>howdy</h1>

<form action="/square/results">

  <label for="giraffe">Enter a number</label>
  <div> 
    <input id="giraffe" type="text" placeholder="What number do you want to square?" name="elephant">
  </div>

  <a href="/square_results">
  <button>Calculate square</button>
</form>
