<form action="/square_root/results">

  <label for="num3">Enter a number</label>
  <div>
  <input id="num3" type="text" placeholder="What number do you want to square root?" name="user_number">
  </div>
  
  <div>
  <a href="/square_root_results">
  <button>Calculate square root</button>
  </div>

</form>
